*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*~
*.wpr
*.wpu
*workspace
.idea/*
*MANIFEST*
*project
Thumbs.db
.installed.cfg
.settings
*.egg-info
log.html
output.xml
report.html
selenium-screenshot*
*.pyc
.mr.developer.cfg
.projectile
bin
develop-eggs
eggs
parts
src
var
zeocluster
