@page {
    size: 44mm 34mm;
    margin: 0mm 0mm 0mm 0mm !important;
    padding: 0mm 0mm 0mm 0mm !important;
}

.sticker * {
    text-align: center;
    margin: 0 auto;
}

.sticker {
    font-family: Helvetica, Arial;
    font-size:6pt;
    width: 44mm; max-width: 44mm;
    height: 34mm; max-height: 34mm;
}

.large-font {
    font-size:11pt !important;
}

.small-font {
    font-size:8pt !important;
}

.row {
  padding-top: 1px;
}

.barcode {
  margin-bottom: 3px;
}
