@page {
    size: 48mm 38mm;
    margin: 0px !important;
    padding: 0px !important;
}
.sticker {
    font-family: Helvetica, Arial;
    font-size:6pt;
    width: 45mm;
    max-width: 45mm;
    height: 35mm;
    max-height: 35mm;
}
.stickerbody {
    height:27mm;
    max-height:27mm;
}
.large-font {
    font-size:9pt !important;
}
.small-font {
    font-size:6pt !important;
}
table {
    border-collapse:collapse;
    width:45mm;
    margin:0;
    padding:0;
    /*border:1px solid #ddd;*/
}

.sticker .row-1 {
    text-align:center;
    padding-bottom:1px;
    height:2em !important;
}

.sticker .row-2 {
    text-align:center;
    padding-bottom:1px;
    height:2em !important;
}

.sticker .row-3 {
    text-align:center;
    padding-bottom:1px;
    height:2em !important;
}

.sticker .row-4 {
    text-align:center;
}

.barcode {
  margin-top:4px;
  text-align:center;
}
